.favorite_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 71px;
    height: 80px;
    position: relative;
}

.favorite-count {
    font-family: 'Roboto';
    color: rgb(81, 79, 79);
    font-size: 30px;
    font-weight: 400;
    text-align: end;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    padding-right: 20px;
}