* {
  box-sizing: border-box;
}

/* html,
body {
  height: 100%;
} */

body {
  display: flex;
  justify-content: center; 
  width: 100%;
  padding-bottom: 30px;
  background-image: url(./image/13223496_5183000.jpg);
  /* background-size: cover; */
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 1200px;
  padding-top: 30px;
}

header {
  padding: 0px 20px 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}


